<!doctype html>
<html>
	<head>
		<title>Exploring Angular</title>
	</head>
	<body ng-app="exp-ang">
		<div style="width: 500px; height: 300px; background-color: lightgray;" ea-mouse-over="eventStream">
			<p>Mouse over to increment count</p>
		</div>
		<div ng-controller="EventConsumerController as controller">
			<div>
				<h3>Event consumer</h3>
				<div>
					<label>Hit count: </label>
					<span>{{controller.hitCount}}</span>
				</div>
				<div>
					<label>X pos: </label>
					<span>{{controller.xPos}}</span>
				</div>
				<div>
					<label>Finished: </label>
					<span>{{controller.finished}}</span>
				</div>
				<div>
					<label>Error: </label>
					<span>{{controller.eventError}}</span>
				</div>
			</div>
			<div>
				<h3>Custom consumer</h3>
				<div>
					<label>Current value: </label>
					<span>{{controller.currentCustomValue}}</span>
				</div>
				<div>
					<label>Finished: </label>
					<span>{{controller.customFinished}}</span>
				</div>
				<div>
					<label>Error: </label>
					<span>{{controller.customError}}</span>
				</div>
				<button ng-click="controller.finishCustom()">Finish</button>
				<button ng-click="controller.generateCustomError()">Error</button>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
		<script src="/dist/bundle.js"></script>
	</body>
</html>
